<section>
  <h1>Registration</h1>
  <fieldset *ngIf="!registered">
    <legend>Account Information</legend>
    <form (submit)="onSubmit()" #form="ngForm">
      <div>
        <label for="firstName">*First Name</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          required
          minlength="3"
          maxlength="24"
          [(ngModel)]="user.firstName"
          #firstName="ngModel"
        >
        <div class="warning" *ngIf="firstName.errors && firstName.touched">
          <div *ngIf="firstName.errors.required">
            First name is required
          </div>
          <div *ngIf="firstName.errors.minlength">
            First name must be at least 3 characters long
          </div>
          <div *ngIf="firstName.errors.maxlength">
            First name should be less than 25 characters long
          </div>
        </div>
      </div>
      <div>
        <label for="lastName">*Last Name</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          required
          minlength="2"
          maxlength="24"
          [(ngModel)]="user.lastName"
          #lastName="ngModel"
        >
        <div class="warning" *ngIf="lastName.errors && lastName.touched">
          <div *ngIf="lastName.errors.required">
            Last name is required
          </div>
          <div *ngIf="lastName.errors.minlength">
            Last name must be at least 2 characters long
          </div>
          <div *ngIf="lastName.errors.maxlength">
            Last name should be less than 25 characters long
          </div>
        </div>
      </div>
      <div>
        <label for="email">*Email</label>
        <input
          type="text"
          id="email"
          name="email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          [(ngModel)]="user.email"
          #email="ngModel"
        >
        <div class="warning" *ngIf="email.errors && email.touched">
          <div *ngIf="email.errors.required">
            Email is required
          </div>
          <div *ngIf="email.errors.pattern">
            Must be a valid email
          </div>
        </div>
      </div>
      <div>
        <label for="password">*Password</label>
        <input
          type="text"
          id="password"
          name="password"
          required
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          [(ngModel)]="user.password"
          #password="ngModel"
        >
        <div class="warning" *ngIf="password.errors && password.touched">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
          <div *ngIf="password.errors.pattern">
            Password must contain at least one upper case, one lower case and one number and be at least 8 characters long
          </div>
        </div>
      </div>
      <div>
        <label for="passwordConfirm">*Password Confirmation</label>
        <input
          type="text"
          id="passwordConfirm"
          name="passwordConfirm"
          required
          pattern="{{user.password}}"
          [(ngModel)]="user.passwordConfirm"
          #passwordConfirm="ngModel"
        >
        <div class="warning" *ngIf="passwordConfirm.errors && passwordConfirm.touched">
          <div *ngIf="passwordConfirm.errors.required">
            Password confirmation is required
          </div>
          <div *ngIf="passwordConfirm.errors.pattern">
            Password confirmation does not match password
          </div>
        </div>
      </div>
      <div>
        <label for="address">*Address</label>
        <input
          type="text"
          id="address"
          name="address"
          required
          [(ngModel)]="user.address"
          #address="ngModel"
        >
        <div class="warning" *ngIf="address.errors && address.touched">
          <div *ngIf="address.errors.required">
            Address is required
          </div>
        </div>
      </div>
      <div>
        <label for="unit">Unit</label>
        <input
          type="text"
          id="unit"
          name="unit"
          [(ngModel)]="user.unit"
          #unit="ngModel"
        >
      </div>
      <div>
        <label for="city">*City</label>
        <input
          type="text"
          id="city"
          name="city"
          required
          [(ngModel)]="user.city"
          #city="ngModel"
        >
        <div class="warning" *ngIf="city.errors && city.touched">
          <div *ngIf="city.errors.required">
            City is required
          </div>
        </div>
      </div>
      <div>
        <label for="state">*State</label>
        <select
          id="state"
          name="state"
          required
          [(ngModel)]="user.state"
          #state="ngModel"
        >
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <div class="warning" *ngIf="state.errors && state.touched">
          <div *ngIf="state.errors.required">
            State is required
          </div>
        </div>
      </div>
      <div>
        <label for="lucky">*I'm feeling lucky</label>
        <input
          type="radio"
          id="lucky"
          name="lucky"
          required
          value="yes"
          [(ngModel)]="user.lucky"
          #lucky="ngModel"
        >Yes
        <input
          type="radio"
          id="lucky"
          name="lucky"
          required
          value="no"
          [(ngModel)]="user.lucky"
          #lucky="ngModel"
        >No
        <div class="warning" *ngIf="lucky.errors && lucky.touched">
          <div *ngIf="lucky.errors.required">
            Do you feel lucky, punk?
          </div>
        </div>
      </div>
      <button [disabled]="form.invalid">Register</button>
    </form>
  </fieldset>
  <div class="success" *ngIf="registered">
    <p>Thank you for registering with us {{ user.firstName }}. We just sent you a confirmation email at {{ user.email }} and we will send all mail to {{ user.address }} <span *ngIf="user.unit">{{ user.unit }}</span>, {{ user.city }} {{ user.state }}</p>
    <br>
    <p>Have a wonderful day!</p>
  </div>
</section>
